{{ range $host, $containers := groupByMulti $ "Env.DOMAIN_NAME" "," }}
    {{ range $index, $container := $containers }}
        {{ $networksLen := len $container.Networks }}
        {{ if gt $networksLen 0 }}
            {{ with $net := index $container.Networks 0 }}
{{ $net.IP }}	{{ replace $host "/" " " -1 }}
            {{ end }}
        {{ end }}
    {{ end }}
{{ end }}

{{ range $index, $container := $ }}
    {{ $networksLen := len $container.Networks }}
    {{ if gt $networksLen 0 }}
        {{ with $net := index $container.Networks 0 }}
{{ $net.IP }}	{{ $container.Name }}.docker
        {{ end }}
    {{ end }}
{{ end }}
